# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Intellij files
.idea/
*.iml

#Ignore Elastic plugin test execution times log
.local-*-execution-times.log